flows.json
[{"id":"bb04815d.e05ab","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"55e2b4fb.9f791c","type":"ui_button","z":"bb04815d.e05ab","name":"","group":"43391894.970618","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":160,"wires":[["837c977a.fad628"]]},{"id":"837c977a.fad628","type":"http request","z":"bb04815d.e05ab","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://50775f5a-5c14-499d-b669-8df41853cbbd-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":320,"y":160,"wires":[["7d796558.50e20c"]]},{"id":"7d796558.50e20c","type":"function","z":"bb04815d.e05ab","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["6c352b71.13fe44","6e45f0d7.4337f"]]},{"id":"6e45f0d7.4337f","type":"ui_template","z":"bb04815d.e05ab","group":"43391894.970618","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":320,"wires":[[]]},{"id":"6c352b71.13fe44","type":"debug","z":"bb04815d.e05ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"43391894.970618","type":"ui_group","z":"","name":"SmartSecurity","tab":"6ba115d1.e58a8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ba115d1.e58a8c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]